<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "ps.jpg" %>');">
  <div class="banner-content">
    <h1>CONTACT</h1>
    <p class="accroche">Send us a mail ! !!</p>

    <%= link_to "BACK", root_path, class: "all-agenda-button btn" %>


  </div>
</div>






