<div class="container text-center">
  <h1>Meet the team</h1>

<%= cl_image_tag "ljr7nrwxp46g6ppm829u", width: 400, height:100, crop: :fill %>

  <ul>
    <% @members.each do |onebyone| %>
      <li><%= onebyone %></li>
    <% end %>
  </ul>
</div>











